*{
    margin: 0;
    padding: 0;

}

/*Header*/

header{
    background-color: goldenrod;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    background-color: white;
    border-radius: 50px;
    margin-top: 30px;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 10vh;
    border-radius: 50px;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

@keyframes move {
    from{ transform: translateX(10px)}
    to{ transform: translateX(600px)}
    
}

.nav-links{
    border-radius: 50px;
    width: 550px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.nav-links a:hover{
    color: blue;
}

svg{
    width: 100%;
}

.depo .up {
    width: 100vw;
}


/*Fim do Header*/

/*Hero*/

.hero{
    background-color: goldenrod;
    width: 100vw;
    height: 75vh;
}

.letra{

    font-size: xx-large;
    text-align: center;
    width: 35vw;
    height: 20vh;
    position: absolute;
    top: 25vh;
    left: 25vw;
    color: white;
}

.banner img{
    position: absolute;
    width: 200px;
    top: 100px;
    right: 200px;
    transform: rotate(18deg);
    z-index: 2;

}

.down{
    position: relative;
    top: 65px;
    z-index: 0;
}


/*Fim da Hero Section*/

/*Modais*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    position: relative;
    margin-left: 20vw;
    margin-top: 5vw;
    margin-right:20vw;
    height: 37vw;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 50px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.img-pop{
    
    height: 70vh;
    width: 20vw;
}

.box-pop{
    display: flex;
    flex-direction: row;
}

.box-txt{
    padding: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}




/*Fim dos modais*/



/*Cards*/

/*Parte de cima dos cards*/
.cards1{
   
    background-color: blue;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*Card1*/

.item-1{
    background-color: whitesmoke;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    border: 2px solid;
    mask-size: cover;
    width: 23vw;
    height: 55vh;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    mask: url(1.png);
}

.item-1:hover{
    transform: rotateY(360deg) scale(1.1);
}

.item-1 .circle {
    width: 130px;
    height: 130px;
    background: rgb(223, 82, 105);
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 110px;
}



.circle img{
    position: absolute;
    top: -40px;
    left: 15px;
    width: 100px;
    height: 210px;
    rotate: 15deg;

}

.item-1 button{
    background-color: rgb(219, 101, 120);
    color: white;
    border-radius: 10px;
    width: 7vw;
    height: 4vh;
}

.item-1 button:hover{
    background-color: green;
}
/*Fim do Card1*/

/* Card2*/
.item-2{
    background-color: whitesmoke;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    border: 2px solid;
    mask-size: cover;
    width: 23vw;
    height: 55vh;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    mask: url(1.png);
   
}

.item-2:hover{
    transform: rotateY(360deg) scale(1.1);
}

.item-2 .circle{
    width: 130px;
    height: 130px;
    background: rgb(11, 149, 149);
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 110px;
}

.details{
    width:15vw;
    height: 15vh;
    position: relative;
    left: 60px;
    top: 100px;
    text-align: center;
}

.item-2 button{
    background-color:rgb(11, 149, 149);;
    color: white;
    border-radius: 10px;
    width: 7vw;
    height: 3vh;
}

.item-2 button:hover{
    background-color: green;
}

/*Fim do Card2*/

/*Card3*/
.item-3{
    background-color: whitesmoke;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    border: 2px solid;
    width: 23vw;
    height: 55vh;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    mask: url(1.png);
}

.item-3:hover{
    transform: rotateY(360deg) scale(1.1);
}

.item-3 .circle{
    width: 130px;
    height: 130px;
    background: goldenrod;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 110px;

}

.item-3 button{
    background-color:goldenrod;
    color: white;
    border-radius: 10px;
    width: 7vw;
    height: 3vh;
}

.item-3 button:hover{
    background-color: green;
}

/*Fim do Card3*/




 /*Fim da parte de cima dos cards*/

/*Parte de baixo dos cards*/



.up{
    position: absolute;
    margin-top: -75px;
    

}


.cards5{
    background-color: blueviolet;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


/*Card4*/
.item-4{
    background-color: whitesmoke;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    margin-top: 10vh;
    border: 2px solid;
    border-radius: 40px;
    width: 23vw;
    height: 55vh;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    mask: url(1.png);
    
}

.item-4:hover{
    transform: rotateY(360deg) scale(1.1);
}

.item-4 .circle{
    width: 130px;
    height: 130px;
    background: blueviolet;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 110px;

}
.item-4 button{
    background-color:blueviolet;
    color: white;
    border-radius: 10px;
    width: 7vw;
    height: 3vh;

}

.item-4 button:hover{
    background-color: green;
}

/*Fim do Card4*/

/*Card5*/

.item-5{
    background-color: whitesmoke;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    border: 2px solid;
    margin-top: 10vh;
    border-radius: 40px;
    width: 23vw;
    height: 55vh;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    mask: url(1.png);
 
   
}


.item-5:hover{
    transform: rotateY(360deg) scale(1.1);
}


.item-5 .circle{
    width: 130px;
    height: 130px;
    background: green;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 110px;
    
}

.item-5 button{
    background-color:green;
    color: white;
    border-radius: 10px;
    width: 7vw;
    height: 3vh;

}



/*Fim do Card5*/


/*Fim da parte de baixo dos cards*/


/*Fim dos cards*/

/*Depoimentos*/


.depo{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
    background-color: blue;
    
}


.depoimentos{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100vw;
    z-index: 2;
}

.relato{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 40vh;
    padding: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.9);
    position: relative;
    border-radius: 20px;
}

.texto {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    position: relative;
    padding-left: 40px;
  }
  
.texto::before {
    content: "“";
    font-size: 3em;
    color: #ccc;
    position: absolute;
    top: -10px;
    left: 10px;
}
  
.texto::after {
    content: "”";
    font-size: 3em;
    color: #ccc;
    position: absolute;
    top: 120px;
    right: 10px;
}
  
.autor {
    text-align: right;
    font-style: italic;
    color: #666;
    margin-top: 10px;
}

.depo1{
    background-color: whitesmoke;
    width: 25vw;
    height: 30vh;
    border-radius: 20px;
    
}

.depo2{
    background-color: whitesmoke;
    width: 25vw;
    height: 30vh;
    border-radius: 20px;
}

.depo3{
    background-color: whitesmoke;
    width: 25vw;
    height: 30vh;
    border-radius: 20px;
}

.depo1 img{

    width: 100px;
    border-radius: 120px;
    position: absolute;
    top: 180px;

}

.depo2 img{
    width: 85px;
    border-radius: 100px;
    position: absolute;
    top: 180px;
}

.depo3 img{
    width: 85px;
    border-radius: 120px;
    position: absolute;
    top: 180px;
}

/*Fim dos Depoimentos*/


/*Formulario*/
.formulario{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.box-form{
    border: 2px solid;
    background-color: whitesmoke;
    border-radius: 50px;
    color: black;
    width: 80vw;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
     
}

.col-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.col-left input{
    height: 20px;
    width: 70%;
}

.col-right{
    width: 30%;
    gap: 15px;

}
.col-right p{
    padding: 15px;
}


.col-right input{
    margin-right: 15px;
    
}

.col-right button{
    border: 2px solid black;
    width: 50%;
    height: 4vh;
    background-color: green;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
           
    
}




/*Fim do Formulario*/


/*Footer*/

.footer-diagonal {
    position: relative;
    background-color: blue;
    color: white;
    padding: 60px 0;
    text-align: center;
    overflow: hidden;
    height: 10vh;
  }
  
  
  .footer-diagonal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    transform: skewY(-6deg); 
    transform-origin: top left;
    z-index: 0; 
    pointer-events: none; 
  }
  
 
  .footer-content {
    position: relative;
    bottom: 15px;
    z-index: 1;

  }
  
  .footer-content p {
    margin: 0;
    font-size: 18px;
  }
